<%- include("include/header"); %>
<main id="main">
  <div class="contents">
    <div class="title">
      <h2><%= title %></h2>
    </div>
    <div class="write">
      <a href="/write">글쓰기</a>
    </div>
    <ul class="list">
      <% main.forEach((item,idx)=>{ %>
      <li data-idx="<%= item.no %>" data-title="<%= item.title %>" data-image="<%= item.image %>" data-desc="<%= item.desc %>">
        <a href="/detail/<%= item.title %>">
          <div class="inner">
            <div class="img"><img src="<%= item.image %>" alt="" /></div>
            <div class="txt">
              <div class="sub"><%- item.desc %></div>
              <p class="date"><%= item.date %></p>
              <p class="point">평점 : <%= item.point %></p>
            </div>
          </div>
          <h3 class="listTitle"><%= item.title %></h3>
        </a>
      </li>
      <% }) %>
    </ul>
    <div class="popup">
      <ul class="popupList"></ul>
    </div>
    <div class="popupModify">
      <div class="popupEdit"></div>
    </div>
  </div>
</main>
<script>
  const list = document.querySelectorAll(".list > li");
  const date = document.querySelector("#date");
  const popup = document.querySelector(".popup");
  const popupList = document.querySelector(".popupList");
  const popupModify = document.querySelector(".popupModify");
  const popupEdit = document.querySelector(".popupEdit");

  list.forEach(function (item, idx) {
    item.addEventListener("click", function (e) {
      e.preventDefault();
      const clickedNum = this.dataset.idx;
      axios({ url: `http://127.0.0.1:8099/detail/${clickedNum}`, method: "POST" })
        .then((response) => {
          popup.style.display = "block";
          let popupHtml = "";
          const items = response.data;
          //첫번째 팝업창
          popupHtml = `
          <li>
            <div class="inner">
            <img src="/images/closeDark.png" class="closeBtn" />
            <div class="popupImg">
              <img src="${items.image}"  />
            </div>
            <div class="popupTxt">
              <div class="text"><h2>${items.title}</h2></div>
              <div class="desc"><p>${items.desc}</p></div>
            </div>
            <div class="btns">
              <button class="modify" data-idx=${items.no}>수정</button>
              <button class="deletePost " data-idx=${items.no}>삭제</button>
            </div>
            </div>
          </li>`;
          //수정버튼 팝업창
          let modifyHtml = "";
          modifyHtml = `
          <div class="popupBox">
            <img src="/images/closeDark.png" class="offBtn" />
            <div class="inputBox">
              <label>
                <span class="label">제목</span>
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요" value="${items.title}" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">날짜</span>
                <input type="text" id="date" name="date" value="${items.date}" placeholder="날짜" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">내용</span>
                <textarea name="desc" id="desc" cols="30" rows="10">${items.desc}</textarea>
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">평점</span>
                <input type="number" max="5" min="0" step="0.1" id="point" name="point" value="${items.point}" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">대표이미지</span>
                <input type="file" name="modifyImg" id="modifyImg"   />
              </label>
            </div>
            <div class="btns">
              <button type="submit" id="btnJoin">확인</button>
            </div>
            `;
          popupList.innerHTML = popupHtml;
          popupEdit.innerHTML = modifyHtml;
          // 창닫기버튼
          const closeBtn = document.querySelector(".closeBtn");
          closeBtn.addEventListener("click", () => {
            popup.style.display = "none";
          });
          const offBtn = document.querySelector(".offBtn");
          offBtn.addEventListener("click", () => {
            popupModify.style.display = "none";
            popup.style.display = "none";
          });

          //modify 수정 버튼
          const modify = document.querySelector(".modify");
          modify.addEventListener("click", function () {
            // const number = this.dataset.idx;
            // //axios({ url: `http://127.0.0.1:8099/detail/${number}`, method: "POST" });
            const popupModify = document.querySelector(".popupModify");
            popupModify.style.display = "block";
          });

          const deletePost = document.querySelector(".deletePost");
          deletePost.addEventListener("click", (e) => {
            e.preventDefault();
            axios
              .post(`http://127.0.0.1:8099/deletePost?no=${clickedNum}`)
              .then((res) => {
                const result = res.data;
                if (result.isOk === "ok") {
                  alert("게시물이 삭제 되었습니다.");
                  location.reload();
                }
              })
              .catch((err) => {
                console.log(err);
              });
          });
          // 수정 작업
          const modifyImgFile = document.querySelector("#modifyImg");
          const modifyTitle = document.querySelector("#title");
          const modifyDate = document.querySelector("#date");
          const modifyDesc = document.querySelector("#desc");
          const modifyPoint = document.querySelector("#point");

          //btnjoin 확인버튼/작업
          const btnJoin = document.querySelector("#btnJoin");
          btnJoin.addEventListener("click", (e) => {
            const formData = new FormData();
            formData.append("modifyImg", modifyImgFile.files[0]);
            formData.append("title", modifyTitle.value);
            formData.append("date", modifyDate.value);
            formData.append("desc", modifyDesc.value);
            formData.append("point", modifyPoint.value);
            axios({
              method: "POST",
              url: `http://127.0.0.1:8099/edit?no=${clickedNum}`,
              data: formData,
              enctype: "multipart/form-data",
              contentType: false,
              processData: false,
            })
              .then((res) => {
                const result = res.data;
                console.log(result);
                if (result.isOk === "ok") {
                  $(".list li")
                    .eq(clickedNum - 1)
                    .find(".listTitle")
                    .text(result.editData.title);
                  $(".list li")
                    .eq(clickedNum - 1)
                    .find(".point")
                    .text(`평점 : ${result.editData.point}`);
                  $(".list li")
                    .eq(clickedNum - 1)
                    .find(".date")
                    .text(result.editData.date);
                  $(".list li")
                    .eq(clickedNum - 1)
                    .find(".sub")
                    .text(result.editData.desc);
                  $(".list li")
                    .eq(clickedNum - 1)
                    .find(".img img")
                    .attr("src", result.editData.image);
                }
              })
              .catch((err) => {
                console.log(err);
              });
            if ($("#title").val().trim().length < 1) {
              alert("글자를 입력하세요.");
              $("#title").focus();
              return false;
            } else if ($("#date").val().trim().length < 1) {
              alert("날짜를 입력하세요.");
              $("#date").focus();
              return false;
            } else if ($("#desc").val().trim().length < 1) {
              alert("글자를 입력하세요.");
              $("#desc").focus();
              return false;
            } else if ($("#point").val().trim().length < 1) {
              alert("점수를 입력하세요.");
              $("#point").focus();
              return false;
            } else if ($("#modifyImg").val() == "") {
              alert("파일을 첨부해 주세요.");
              return false;
            }
            popup.style.display = "none";
            popupModify.style.display = "none";
          });
          // $("#btnJoin").on("click", () => {});
        })
        .catch((error) => {
          console.log(error);
        });
    });
  });

  // const picker = new Lightpick({ field: date, format: "YYYY-MM-DD" });
  $("#desc").summernote({
    height: 400,
    callbacks: {
      onImageUpload: function (files) {
        sendImageCloudinary(files[0], this);
      },
    },
  });

  function sendImageCloudinary(file, editor) {
    const sendImgData = new FormData();
    sendImgData.append("summerNoteImg", file);
    $.ajax({
      url: "/summerNoteInsertImg",
      data: sendImgData,
      method: "POST",
      contentType: false,
      processData: false,
      enctype: "multipart/form-data",
      cache: false,
    }).done((response) => {
      $(editor).summernote("editor.insertImage", response.cloudinaryImgSrc);
    });
  }
</script>
