<%- include("include/main"); %> <%- include("include/header"); %>
<main id="main">
  <div class="contents">
    <div class="title">
      <h2><%= title %></h2>
    </div>
    <div class="write">
      <a href="/write">글쓰기</a>
    </div>
    <ul class="list">
      <% main.forEach((item,idx)=>{ %>
      <li>
        <a href="/detail/<%= item.title %>" class="popup">
          <div class="inner">
            <div class="img"><img src="<%= item.image %>" alt="" /></div>
            <div class="txt">
              <div class="sub"><%- item.desc %></div>
              <p class="date"><%= item.date %></p>
              <p class="point">평점 : <%= item.point %></p>
            </div>
          </div>
          <h3 class="listTitle"><%= item.title %></h3>
        </a>
      </li>
      <% }) %>
    </ul>

    <div class="popupCover">
      <ul class="popupList">
        <% main.forEach((item,idx)=>{ %>
        <li>
          <a href="/detail/<%= item.title %>">
            <img src="/images/closeDark.png" class="close" />
            <div class="popupImg"><img src="<%= item.image %>" alt="" /></div>
            <div class="popupTxt">
              <!-- <div class="date"><%= item.date %></div> -->
              <div class="t1"><%= item.title %></div>
              <div class="sub"><%- item.desc %></div>
            </div>
          </a>
          <div class="btns">
            <a
              href="/detail/<%= item.title %>\
              "
              class="chage"
              >수정</a
            >
            <a href="/fileDelete">삭제</a>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>

    <div class="popupInput">
      <div class="popupEdit">
        <div class="popupBox">
          <img src="/images/closeDark.png" class="editClose" />
          <form action="/detail" method="POST" id="join" class="formBox" enctype="multipart/form-data">
            <div class="inputBox">
              <label>
                <span class="label">제목</span>
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">날짜</span>
                <input type="text" id="date" name="date" placeholder="날짜" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">내용</span>
                <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">평점</span>
                <input type="number" max="5" min="0" step="0.1" id="point" name="point" />
              </label>
            </div>
            <div class="inputBox">
              <label>
                <span class="label">대표이미지</span>
                <input type="file" name="image" id="image" />
              </label>
            </div>
            <div class="btns">
              <button type="submit" id="btnJoin">확인</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  const list = document.querySelectorAll(".list li");
  const popupList = document.querySelectorAll(".popupList li");
  const close = document.querySelectorAll(".close");
  const popup = document.querySelector(".popup");
  const date = document.querySelector("#date");
  const editClose = document.querySelector(".editClose");
  const chage = document.querySelectorAll(".chage");
  const popupCover = document.querySelector(".popupCover");
  const popupInput = document.querySelector(".popupInput");

  console.log(editClose);
  //
  list.forEach(function (item, idx) {
    item.addEventListener("click", function () {
      popupList.forEach(function (item01, idx01) {
        // console.log(idx01);
        const popupCover = document.querySelector(".popupCover");
        const body = document.querySelector(".body");
        idx === idx01 ? (item01.style.display = "block") : (item01.style.display = "none");
        popupCover.style.display = "block";
        body.classList.add("on");
        close.forEach(function (item02, idx02) {
          item02.addEventListener("click", function () {
            const popupCover = document.querySelector(".popupCover");
            idx01 === idx02 ? (popupCover.style.display = "none") : "";
          });
        });
        chage.forEach((item03, idx03) => {
          item03.addEventListener("click", function () {
            const popupInput = document.querySelector(".popupInput");
            idx01 === idx03 ? (popupInput.style.display = "block") : "";
          });
        });
        // editClose.forEach((item04, idx04) => {
        //   item04.addEventListener("click", function () {
        //     const popupInput = document.querySelector(".popupInput");
        //     idx01 === idx04 ? (popupInput.style.display = "block") : "";
        //   });
        // });
      });
    });
  });
  editClose.addEventListener("click", () => {
    popupInput.style.display = "none";
    popupCover.style.display = "none";
  });

  // close.addEventListener("click", () => {
  //   popupCover.style.display = "none";
  // });
  const picker = new Lightpick({ field: date, format: "YYYY-MM-DD" });
  $("#desc").summernote({
    height: 400,
    callbacks: {
      onImageUpload: function (files) {
        sendImageCloudinary(files[0], this);
      },
    },
  });
  function sendImageCloudinary(file, editor) {
    const sendImgData = new FormData();
    sendImgData.append("summerNoteImg", file);
    $.ajax({
      url: "/summerNoteInsertImg",
      data: sendImgData,
      method: "POST",
      contentType: false,
      processData: false,
      enctype: "multipart/form-data",
      cache: false,
    }).done((response) => {
      $(editor).summernote("editor.insertImage", response.cloudinaryImgSrc);
    });
  }
</script>
